

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}



#spans{
    font-size: 100px;
}
.nuevojuego,.desistir{
    width: 302px;
    height: 64px;
    border-radius: 23px;
}

.nuevojuego:hover, .desistir:hover{
    background-color: #1e1b40;
    color: white;
}
.nuevojuego{
    margin-right: 24px;
    background-color: #090441;
    color: white;
}
.desistir{
    background-color: #E9ECFF;
    color: #090441;
    
}
.letras-contenedor{
    display: block;
    margin-top: 27,5px;
    margin-bottom: 22px;
    font-family: 'Segoe UI';
    font-size: 25px;

    background-color: orangered;
}
.pantalla{
    display: inline-block;
}

body{
    text-align: center;
}

.teclado{
    border: none;
}
.lista{
    display: block;
}
.elemento-lista{
    list-style: none;
    display: inline-block;
    border-bottom: 1px solid black;
    width: 25px;
    margin-right: 2px;
    height: 35px;

}
.elmento-lista span{
    color: white ;
}
#errores{
    margin-bottom: 10px;
    font-size:18px ;
}

/*oculta elementos o letras*/
.hidden{
    display: none;
}